#aladin{
    width: 200px;
    height: 200px;
    padding: 40px;
}

#avatar{
    width: 200px;
    height: 200px;
    padding: 40px;
}

#bomba{
    width: 200px;
    height: 200px;
    padding: 40px;
}

#moana{
    width: 200px;
    height: 200px;
    padding: 40px;
}

#mortal{
    width: 200px;
    height: 200px;
    padding: 40px;
}

#box{
    width: 200px;
    height: 200px;
    padding: 40px;
}

#elementos{
    width: 200px;
    height: 200px;
    padding: 40px;
}

#extraordinario{
    width: 200px;
    height: 200px;
    padding: 40px;
}

#formiga{
    width: 200px;
    height: 200px;
    padding: 40px;
}

#hallowen{
    width: 200px;
    height: 200px;
    padding: 40px;
}